mixin change(transition)
  #change.div.page
    .well.page-wrapper
      button.btn-block.btn-primary.btn.large(data-parallax='#{transition}' , data-target='main') Menu
      .top.container
         h1 Insert ALL Negativity Below
         input(type='text' , placeholder='Negativity Here')
      .middle
        canvas(width="10",height="10")
      .bottom.well
