mixin board(transition)
  #board.div.page
    .well.page-wrapper
      button.btn-block.btn-primary.btn.large(data-parallax='#{transition}' , data-target='main') Menu
      .top.container
        img.pin-img(src='./images/logo.gif')
          //.well.span4.offset4
      .middle
        .row-fluid.well
      .bottom.well
